<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.edpestcontrolservices">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EDPestControlServices">
        <activity android:name=".AdminAppointmentSlip"></activity>
        <activity android:name=".UserAppointmentSlip" />
        <activity android:name=".AppointmentForm" />
        <activity android:name=".AdminDashboardActivity" />
        <activity android:name=".ConsultationForm" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".ChangeEmail" />
        <activity android:name=".DeleteAccountActivity" />
        <activity android:name=".MyProfileActivity" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".AccountSettingsActivity" />
        <activity android:name=".DashboardActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".MainInterface" />
        <activity android:name=".UserRegister" />
    </application>

</manifest>